.navbarContainer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  background: #fee881;
  
}

.logoContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logoContainer img {
  width: 50px;
  height: 50px;
  margin-right: 0.5rem;
}

.logoContainer span {
  font-size: 1.4rem;
  font-style: italic;
  font-weight: 500;
  color: #212121;
}

.menuList {
  display: flex;
  align-items: center;
  gap: 1.3rem;
  list-style: none;
}

.menuList a {
  text-decoration: none;
  color: #212121;
}

.menuList li {
  cursor: pointer;
  color: #212121;
}

.navActive {
  font-weight: 700 !important;
}

.btn {
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  border: none;
  outline: none;
  cursor: pointer;
  background: #FFCA1A;
  font-size: 1rem;
  font-weight: 700;
  color: #212121;
}

@media (max-width: 768px) {
  .navListContainer {
    display: none;
  }

  .btnContainer {
    display: none;
  }
}