.yellow {
  color: #ffca1a;
}
.bgyellow {
  background-color: #ffca1a;
}
.black {
  color: #212121;
}
.grey {
  color: #424242;
}
.lightwhite {
  color: #f6f2f2;
}
.bglightwhite {
  background-color: #f6f2f2;
}

.col2 {
  margin-left: 23.2px;
}

.col2 ul {
  list-style: none;
}
#navbar {
  height: 227px !important;
}
#contain {
  display: flex;
  top: 50;
  height: 100%;
  align-items: center;
}
.leftangle-vector {
  margin-right: 7.5px;
}
#navbar::before {
  content: "";
  top: 0;
  left: 0;
  height: 226px;
  width: 100%;
  position: absolute;
  background: url(../../images/bgimage.png);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -3;
}
#navbar::after {
  content: "";
  top: 0;
  left: 0;
  height: 226px;
  width: 100%;
  position: absolute;
  background: url(../../images/newvector.png);
  background-repeat: repeat;
  z-index: -1;
}
.nav--breadcrumb {
  display: inline-flex;
  align-items: center;
}

.nav--header h4 {
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  margin-top: 22px;
}

.box {
  background-color: #fff;
  color: #212121;
  border-radius: 5px;
  padding: 12px;
  font-size: 18px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.Questions {
  padding-top: 100px;
  padding-bottom: 50px;
  padding-left: 120px;
  padding-right: 120px;
}

.wrapper {
  font-family: "Lato";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-gap: 20px;
}
.answer {
  color: #424242;
  font-family: "Urbanist";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26.08px;
}

.FAQ--header {
  margin-top: 20px;
  margin-bottom: 20px;
}
.FAQ--header h6 {
  font-size: 14px;
  text-transform: uppercase;
}

.FAQ--header,
.FAQ--header h6,
.FAQ--header h3,
.FAQ--header .header--nav {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lato";
}
.FAQ--header .headers {
  width: 500px;
}
.FAQ--header .headers h3 {
  text-align: center;
  height: 104px;
}
.header--nav a {
  text-decoration: none;
  color: #212121;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 27px;
  padding-right: 27px;
  border-radius: 64px;
  margin-right: 10px;
}
.box .plus {
  width: 16px;
  height: 16px;
}
hr {
  padding: 0;
  margin: 0;
  height: 0.75px;
  color: rgba(0, 0, 0, 0.1);
}
.rotate {
  transform: rotate(45deg);
}
.hide {
  display: none;
}
#contain {
  margin-left: 106.7px;
}
.subHead {
  font-size: 40px;
  font-style: normal;
  font-family: "Lato";
  font-weight: 800;
  line-height: 56px;
  margin-top: 22px;
  margin-bottom: 22px;
}
