* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  padding: 5%;
}
#main-body {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
#our-courses {
  color: #f8bf02;
  font-size: .75rem;
  font-weight:425;  
}
#our-courses-text {
  padding-left: .85%;
}
#courses-and-programs {
  font-weight: 700;
  font-size: 1.45rem;
}
#sub-div2 {
  display: flex;
  margin-top: 2.1%;
  margin-bottom: 3%;
}
.course-btn {
  color: black;
  background-color:  #e6e6e6e5;
  padding: 1.2% 2%;
  width: 11vw;
  border: none;
  border-radius: 28px;
  margin-left: 3%;
  height: 6vh;
}
.course-btn:hover {
  cursor: pointer;
  background-color:#c7c7c7;
  transition: .5s;
}
.active {
  background-color:#f8bf02;
  transition: .8s;
}

.active:hover {
  background-color: #ce9e02;
  transition: .5s;
  cursor: pointer;
}
#sub-div2-1 {
  max-width: 70vw;
  width: 60vw;
  display: flex;

}
#sub-div2-2 {
  display: flex;
  min-width: 30vw;
  width: 40vw;
}
#course-search-bar {
  width: 24vw;
  padding:4%;
  border-radius: 28px;
  border: none;
  background-color:  #e6e6e6e5;
  min-height: 6vh;
  transform:translate(0, -1.2vh);
  position:relative;
}
#search-icon {
  height: auto;
  min-width: 2vw;
  width: 2.5vw;
  border-radius: 18px;
  transform:translate(-3.8vw, .5vh)
}
#sub-div3 {
  display: flex;
  padding-left: 7vw;
  padding-right:7.2vw;
  flex-direction: row;
  flex-wrap: wrap;
}
.enrollment-cards {
  background-color: #e6e6e6e5;
  margin: 1%;
  text-wrap: wrap;
  padding:8vh 2vh 2vh ;
  height: 45vh;
  /* When i wrote this code, only God and I knew what was happening. Now probably only God knows! */
  min-width: 230px;
  max-width: 210px;
  
}
.enrollment-heading {
  font-size: .88em;
  font-weight: 550;
  padding-top:3vh;
}
#databaseLogo{
  height: 40px;
  width: 40px;
}
#phoneLogo{
  height: 40px;
  width: 40px;
}
#bracketsLogo {
  width: 80px;
  height: 40px;
}
#monitorLogo {
  width: 40px;
  height: 40px;
}