@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
}
.why-us-container {
  background-color: #ffffffc7;
  display: flex;
  flex-direction: column;
  padding-top: 3%;
}
.why-us-heading {
  text-align: center;
}
.why-us-alignment {
  padding-top:5% ;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-self: center;
  width: 80%;
}
.why-us-box {
  width: 25%;
  background-color: #3a202017;
  min-height: 50vh;
  height:max-content;
  margin: 1%;
  padding: 3% 1% .8% 1%;
  text-align:left;
}
.explore-program-btn {
  width: 16%;
  height:5%;
  padding:1%;
  align-self: flex-end;
  border-radius: 22px;
  margin-right: 11%;
  border:none;
  background-color:rgb(238, 241, 38);
}
.yellow-text {
  color: rgb(238, 241, 38);
}
.sm-font {
  font-size: .8em;
}
.bold{
  font-weight:720;
}
.why-choose-us-images {
  width:18%;
  height: 18%;
  padding-bottom:6%;
}
.why-choose-us-images:last-of-type   {
  width: 25%;
  height: 25%;
}
.why-choose-us-images:nth-of-type(1) {
width:5rem;
}
/*This just to change the color of the button and the cursor type when hovered on*/
.explore-program-btn:hover {
  background-color:rgba(217, 219, 55, 0.753);
  color: black;
  transition: .5s;
  cursor:pointer;
}